@use '../globals/variables' as v;
@use '../globals/mixins' as m;
.card{
    text-align: center;
    background-color: v.$white;
    box-shadow: -1px 3px 16px -5px rgba(0,0,0,0.69);
    -webkit-box-shadow: -1px 3px 16px -5px rgba(0,0,0,0.69);
    -moz-box-shadow: -1px 3px 16px -5px rgba(0,0,0,0.69);
    padding: 2rem;
    &__header{
        background: url("../images/pattern-circles.svg") no-repeat top center;
        padding: 2rem 0;
        margin-bottom: 5rem;
    }
    &__title{
        font-size: 2rem;
    }
    &__p{
        color: v.$grayishBlue;
        &-span{
            display: block;
        }
        &--features{
            &::before{
                content: "";
                background: url("../images/icon-check.svg") no-repeat bottom center;
                background-size: 1.3rem;
                display: inline-block;
                width: 1.3rem;
                height: 1.3rem;
                margin-right: 1.5rem;
            }
        }
    }
    &__footer{
        margin-top: 5rem;
        @include m.escritorio {
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: left;
        }
    }
    &__button{
        margin-top: 5rem;
        background-color: v.$darkBlue;
        color: v.$lightGrayishBlue;
        border: none;
        padding: 2rem 5rem;
        border-radius: 3rem;
        transition: color .2s ease-in;
        &:hover{
            cursor: pointer;
            color: white;
            transition: color .2s ease-in;
        }
        @include m.escritorio {
            margin: 0;
        }
    }
}